{{!-- {{# each programs }}
    <div class="row justify-content-around pt-5">{{programs.title}}
        {{# each this }}
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <img src="{{ this.imagePath }}" class="card-img-top" alt="..." class="img-reponsive">
                <div class="card-body">
                    <h5 class="card-title">{{ this.title }}</h5>
                    <p class="card-text">{{ this.description }}</p>
                    <div class="clearfix">
                        <div class="price pull-left">${{ this.price }}</div>
                        <a href="" class="btn btn-primary pull-right">View</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
{{/each}} --}}
    <div class="row justify-content-around pt-5">
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <img src="https://webassets-prod.ultimateperformance.com/uploads/sites/4/2020/03/09143046/shutterstock_1464709727.jpg" class="card-img-top" alt="..." class="img-reponsive">
                <div class="card-body">
                    <h5 class="card-title">Crafty Home Workouts</h5>
                    <p class="card-text">These home workouts are meant to help you with time and consistency. It is meant to work around your busy schedule.</p>
                    <div class="clearfix">
                        <div class="price pull-left">$50</div>
                        <a href="/programs/crafty" class="btn btn-primary pull-right">View</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <img src="https://image.freepik.com/free-photo/mid-section-muscular-man-flexing-muscles_13339-297426.jpg" class="card-img-top" alt="..." class="img-reponsive">
                <div class="card-body">
                    <h5 class="card-title">Sculpture</h5>
                    <p class="card-text">Strictly build muscle, change your frame and make an internal/external difference on your body and well-being.</p>
                    <div class="clearfix">
                        <div class="price pull-left">$50</div>
                        <a href="programs/sculpture" class="btn btn-primary pull-right">View</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/this-is-how-much-exercise-you-need-to-do-to-reap-health-benefits-main-1486061404.jpg?resize=980:*" class="card-img-top" alt="..." class="img-reponsive">
                <div class="card-body">
                    <h5 class="card-title">CCMR</h5>
                    <p class="card-text">CONSTANT/CARDIO MUSCLE ROUNDS also known as C.C.M.R’s is a mixture of exercises emphasizing on 1 muscle group.</p>
                    <div class="clearfix">
                        <div class="price pull-left">$50</div>
                        <a href="/programs/ccmr" class="btn btn-primary pull-right">View</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

