{{!-- {{# each programs }}
    <div class="row justify-content-around pt-5">{{programs.title}}
        {{# each this }}
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <img src="{{ this.imagePath }}" class="card-img-top" alt="..." class="img-reponsive">
                <div class="card-body">
                    <h5 class="card-title">{{ this.title }}</h5>
                    <p class="card-text">{{ this.description }}</p>
                    <div class="clearfix">
                        <div class="price pull-left">${{ this.price }}</div>
                        <a href="" class="btn btn-primary pull-right">View</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
{{/each}} --}}

    <div class="row justify-content-around pt-5">Crafty Home Workouts
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <img src="https://webassets-prod.ultimateperformance.com/uploads/sites/4/2020/03/09143046/shutterstock_1464709727.jpg" class="card-img-top" alt="..." class="img-reponsive">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">{{ this.description }}</p>
                    <div class="clearfix">
                        <div class="price pull-left">${{ this.price }}</div>
                        <a href="" class="btn btn-primary pull-right">View</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
     <div class="row justify-content-around pt-5">Sculpture
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <img src="https://webassets-prod.ultimateperformance.com/uploads/sites/4/2020/03/09143046/shutterstock_1464709727.jpg" class="card-img-top" alt="..." class="img-reponsive">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">{{ this.description }}</p>
                    <div class="clearfix">
                        <div class="price pull-left">${{ this.price }}</div>
                        <a href="" class="btn btn-primary pull-right">View</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
     <div class="row justify-content-around pt-5">Constant Cardio Muscle Rounds
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <img src="https://webassets-prod.ultimateperformance.com/uploads/sites/4/2020/03/09143046/shutterstock_1464709727.jpg" class="card-img-top" alt="..." class="img-reponsive">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">CONSTANT/CARDIO MUSCLE ROUNDS also known as C.C.M.R’s is a mixture of exercises emphasizing on 1 muscle group.</p>
                    <div class="clearfix">
                        <div class="price pull-left">${{ this.price }}</div>
                        <a href="/programsccmr" class="btn btn-primary pull-right">View</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

