{{# each programs }}
    <div class="row justify-content-around pt-5">{{programs.title}}
        {{# each this }}
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <img src="{{ this.imagePath }}" class="card-img-top" alt="..." class="img-reponsive">
                <div class="card-body">
                    <h5 class="card-title">{{ this.title }}</h5>
                    <p class="card-text">{{ this.description }}</p>
                    <div class="clearfix">
                        <div class="price pull-left">${{ this.price }}</div>
                        <a href="#" class="btn btn-primary pull-right">View</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
{{/each}}
