<div class="row justify-content-around pt-5">
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <img src="{{ exercises.imagePath }}" class="card-img-top" alt="..." class="img-reponsive">
                <div class="card-body">
                    <h5 class="card-title">{{ exercises.title }}</h5>
                    <p class="card-text">{{ exercises.description }}</p>
                    <p class="card-text">{{ exercises.content }}</p>
                    <div class="clearfix">
                        {{!-- <a href="exercises/{{ _id }}" class="btn btn-primary pull-right">View</a> --}}
                        {{!-- <a href="#" class="btn btn-success">Buy Now</a> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>